.container {
    background-color: rgb(55, 153, 234);
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}
a {
    text-decoration: none;
    color: aliceblue;
}

.content {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.content:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.image-container {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content:hover + .image-container {
    display: block; 
}

footer {
    background-color:rgb(55, 153, 234);
    color: white;
    text-align: center;
    margin-top: 150px;
    padding: 10px ;
}

